#splash-page{
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#splash-banner{
  width: 100%;
}
#splash-banner-logo{
  text-align: center;
  margin: auto;
}
.splash-banner-logo{
  padding: 20px;
}
#splash-logo{
  margin:30px auto 30px auto;
  display: flex;
  flex-wrap: wrap;
}
#splash-id{
  height: 100px;
}
#wdol-id{
  width: 50%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#splash-sam-logo{
  width: 50%;
  height: 130px;
  margin: auto;
  text-align: center;
}
#splash-wdol-summary{
  text-align: center;
  //height: 130px;
  width: 100%;
}
.wdol-sum{
  font-weight: 600;
}
.splash-line{
  align-self: center;
  width: 150px;
  margin: 30px auto 30px auto;
}
#splash-button-content{
  background-color: #F9F9F9;
  margin: 30px 0 30px 0;
}
#sam-url{
  text-align: center;
  width: 100%;
}
#sam-url>h2{
  font-weight: 600;
}
#buttons-summary{
  text-align: center;
  width: 100%;
  margin: 35px;
}
#buttons-summary> p{
  color: #5F5F5F;
  line-height: 1.5;
  font-stretch: semi-condensed;
  padding-bottom: 0 !important;
  font: 400 19px/24px "Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif;
}
#splash-button{
  margin: 10px auto 10px auto;
  width: 230px;
}
.splash-button{
  background-color: inherit;
  border: solid 2px #287DB6;
  border-radius: 8px;
  height:60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 2px;
}
.splash-button:hover{
  background-color: inherit;
  border: solid 3px #1f618e;
}
.splash-btn-icon{
  margin: auto;
  padding: 10px;
  align-self: center;
}
.splash-button> p{
  color: #287DB6;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.5px;
  line-height: 1;
  margin: auto;
}
#video-summary{
  margin: 0 20px 20px 20px;
  width: 100%;
}
.video-summary{
  font-size: 20px;
  color: #5F5F5F;
  line-height: 1.5;
  font-stretch: semi-condensed;
  color: #323B44;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}
#video{
  width: 100%;
  margin: auto;
}
#splash-footer{
  background-color: #D8E8F7;
  color: #01538F;
  text-align: center;
  padding: 35px;
  margin-top: 15px;
  width: 100%;
}
.splash-gsa-logo{
  margin: auto;
}
.splash-footer-title{
  text-align: center;
  font-size: 20px;
}
.splash-footer-summary{
  text-align: center;
  padding: 35px;
  color: #8B8F91;
}
@media all and (min-width: 500px){
  .tablet\:grid-col {
    flex: 1 0 0;
    width: auto;
  }
  .splash-banner-logo{
    max-width: 20%;
    float: left;
    margin: 0;
  }
  .splash-banner-logo:after{
    clear: both;
  }
  #splash-header-content{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
  }
  #splash-logo{
    width: 100%;
    display: flex;
  }
  #splash-wdol{
    width: 50%;
  }
  #splash-sam-url{
    width: 50%;
  }
  .splash-line{
    display: none;
  }
  #splash-button-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  #splash-btn-sum{
    width: 600px;
    margin: auto 25% auto 25%;
    display: block;
  }
  #buttons-summary{
    text-align: center;
    margin: 20px auto;
  }
  #splash-btn{
    margin: 20px;
    display: block;
  }
  #splash-video-content{
    display: flex;
    flex-direction: column-reverse;
    max-width: 600px;
    margin: auto;
    padding-top: 50px;
  }
  #splash-vid{
    margin-bottom: 15px;
  }
}

//added styles
.usa-banner {
  height: 40px;
  display: flex;
  background-color: #F0F0F0;
  flex-wrap: wrap;
}
.usa-banner-header{
  width: 100%;
}
a{
  color: #0071BD;
}
body{
  min-width: 550px;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
.grid-row{
  display:flex;
  flex-wrap: wrap;
}
h2{
  font-size: 30px;
  letter-spacing: -.5px;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.1em;
  margin: calc(2rem - 0.05em) 0em 1rem;
}
.wdol-sum>a{
  text-decoration: none;
  font-weight: 700px;
}
#sam-url>a{
  text-decoration: none;
  font-weight: 700px;
}
hr{
  height: 2px;
  width: 100%;
  color: black;
}


sam-banner {
  .sticky-banner{
    position: fixed;
    z-index: 20000;
    background: #f1f1f1;
    width: 100%;
  }

  /**Create circle to wrap the icon on the banner**/
  .span-circle-wrap{
    border-radius: 50%;
    width: 43px;
    line-height: 40px;
    text-align: center;
  }

  .blue-circle-wrap{
    border: 1px solid #2B81AF;
    color: #2B81AF;
  }

  .green-circle-wrap{
    border: 1px solid green;
    color: green;

  }
}
